.card {
  border-radius: 10px;
  height: 150px;
  margin: 5px;
  position: relative;
  width: 470px;
  text-align: left;
  background-color: transparent;
  border-color: rgb(122, 39, 143);
}

strong {
  font-size: 19px;
  margin-right: 29px;
}

.content {
  padding: 10px;
}

.content ul {
  margin-right: 22px;
  margin-top: 8px;
}

.content a {
  font-size: 17px;
  margin-right: 29px;
}
