html {
    background-image: url(./images/overallBackground.svg);
  }


.pagetitle {
  margin-bottom: 20px;
}

.aboutcontent {
  margin-top: 20px;
  font-size: x-large;
}

.resumecontent {
  margin-top: 20px;
}

.resumecontent li {
  margin-top: 12px;
  margin-left: 70px;
  text-align: left;
}

footer {
  margin-top: 20px;
}

#footerrow {
  justify-content: center;
}

header h1 {
    margin-top: 60px;
    margin-left: 70px;
    color: rgba(209, 205, 205, 0.712);
}

header ul {
    margin-left: 330px;
    margin-top: 69px;
}

a {
  color: black;
  font-size: x-large;
}

a:hover {
    color: rgb(122, 39, 143);
}

header ul li a {
    color: rgba(209, 205, 205, 0.712);
    font-size: x-large;
}

header ul li a:hover {
    color: rgb(122, 39, 143);
}

#content {
    background: url(./images/contentBackground.svg);
    text-align: center;
}
 
.nav .active {
    color: rgb(122, 39, 143);
}

input {
  width: 600px;
  margin-bottom: 10px;
}

textarea {
  height: 10em;
  width: 600px;
}

#first {
  background-image: url(./images/FS.png);
  background-size: cover;
}

#second {
  background-image: url(./images/sodxcalc.png);
  background-size: cover;
}

#third {
  background-image: url(./images/techlinked.png);
  background-size: cover;
}

#fourth {
  background-image: url(./images/weather.png);
  background-size: cover;
}

#fifth {
  background-image: url(./images/WDS.png);
  background-size: cover;
}

#sixth {
  background-image: url(./images/budget.png);
  background-size: cover;
}

#send{
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(122, 39, 143);
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  header h1 {
    margin-top: 20px;
    margin-left: 63px;
  }

  header a {
    margin-left: 10px;
  }

  header ul {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 2px;
    justify-content: center;
  }

  #content {
   margin-top: 20px;
   padding: 10px;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .work {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .myphoto {
    width: 80%;
    margin-left: 10%;
    
  }

  #RESDL {
    color: rgb(122, 39, 143);
    
  }

  footer {
    text-align: center;
  }

  .sociallink {
    margin: 5px;
  }

  .card {
    width: 97%;
    background-position-x: center;
    background-position-y: center;
  }

  form input {
    width: 95%;
  }

  form textarea {
    width: 95%;
  }
}