html {
    background-image: url(./images/overallBackground.svg);
    background-size: 100%;  
  }

.myphoto {
  width: 30%;
  margin-top: 10px;
  margin-left: 35%;
}

.aboutcontent {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 32px;
}

#badge {
  width: 90%;
}

.badgelink {
  margin-left: 42.5%;
}

.dlink {
  margin-top: 8px;
  margin-left: 35px;
  margin-bottom: 12px;
}

#RESDL {
    color: rgb(122, 39, 143);
}

.resumecontent {
  margin-left: 35px;
}

.resumecontent li {
  margin-top: 12px;
  margin-left: 40%;
  text-align: left;
}

footer {
  margin-top: 20px;
}

#footerrow {
  justify-content: center;
}

.sociallink{
  margin: 5px;
}

header h1 {
    margin-top: 60px;
    margin-left: 70px;
    color: rgba(209, 205, 205, 0.712);
    font-family: 'Roboto Condensed', sans-serif;
}

header ul {
    margin-left: 330px;
    margin-top: 69px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: black;
  font-size: x-large;
  font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
    color: rgb(122, 39, 143);
}

header ul li a {
    color: rgba(209, 205, 205, 0.712);
    font-size: x-large;
}

header ul li a:hover {
    color: rgb(122, 39, 143);
}

#content {
    background: url(./images/contentBackground.svg);
    text-align: center;
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
 
.nav .active {
    color: rgb(122, 39, 143);
}

form input {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
}

form textarea {
  width: 95%;
  height: 10em;
  margin-top: 5px;
}

#first {
  background-image: url(./images/FS.png);
  background-size: cover;
}

#second {
  background-image: url(./images/sodxcalc.png);
  background-size: cover;
}
#fifth {
  background-image: url(./images/WDS.png);
  background-size: cover;
}

#send{
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(122, 39, 143);
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 430px) {

  html {
    background-size: 200%;  
  }

  header h1 {
    margin-top: 20px;
    margin-left: 100px;
  }

  header a {
    margin-left: 10px;
  }

  header ul {
    margin-left: 25px;
    margin-right: 36px;
    margin-top: 2px;
    justify-content: center;
  }

  .myphoto {
    width: 60%;
    margin-top: 10px;
    margin-right: 10px;
  }

  .aboutcontent {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    font-size: 20px;
  }

  #badge {
    margin-top: 5px;
    width: 250%;
  }

  .badgelink {
    margin-left: 37%;
  }

  #content {
   margin-top: 20px;
   padding: 10px;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .myphoto {
    width: 60%;
    margin-left: 20%;
  }

  footer {
    text-align: center;
  }

  .card {
    width: 97%;
    background-position-x: center;
    background-position-y: center;
  }

  .resumecontent li {
    margin-left: 70px;
  }

  form input {
    margin-top: 5px;
  }

  form textarea {
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {

  header h1 {
    margin-top: 20px;
    margin-left: 83px;
  }

  header a {
    margin-left: 10px;
  }

  header ul {
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 2px;
    justify-content: center;
  }

  .resumecontent li {
    margin-left: 50px;
  }
}